.displaybox{
  color: white;
  /* position: relative; */
}
.product_details{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 10px;
}
.product_details li{
  list-style: none;
  width: 50%;
  margin: 6px auto;
  padding:0 10px;
  font-size: 1rem;
  background-color: rgb(11, 73, 97);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product_details li button{
  float: right;
  border-radius: 5px;
  margin: 5px 3px;
 border: none;
  color: white;
  cursor: pointer;
}
.total{
 position: fixed;
 bottom: 15px;
 text-align: center;
 padding-top: 2px;
 padding-bottom: 8px;
  width: 100%;
 
}